.elements__delete-button {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.elements__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
