.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media (max-width: 600px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
